<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1>OPC Web Interface</h1>
      <button id="disconnect">Disconnect</button>
      <div id="chat-log"></div>
			<div>
				<button id="liveview_start">Start Liveview</button>
				<button id="liveview_stop">Stop Liveview</button>
				<button id="take_motion">Take</button>
				<br>
				<img id="liveview" src="">
			</div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
			var socket, host;
			var addr = "192.168.0.113";
      host = "ws://" + addr + ":8080" ;
      function connect() {
        try {
          socket = new WebSocket(host);
          addMessage("Socket State: " + socket.readyState);
          socket.onopen = function() {
            addMessage("Socket Status: " + socket.readyState + " (open)");
          }
          socket.onclose = function() {
            addMessage("Socket Status: " + socket.readyState + " (closed)");
          }
          socket.onmessage = function(msg) {
						//addMessage("Received: " + msg.data);
						updateImg(msg.data);
						//socket.close();
          }
        } catch(exception) {
          addMessage("Error: " + exception);
        }
      }
      function addMessage(msg) {
        $("#chat-log").append("<p>" + msg + "</p>");
			}
			function updateImg(msg){
				var img = "data:image/jpeg;base64," + msg;	
				$("#liveview").attr("src", img);
			}
      $(function() {
        connect();
      });
      $("#disconnect").click(function() {
        socket.close()
      });
			$("#liveview_start").click(function() {
				$.get("http://" + addr + ":4567/switch_cameramode/rec" );
				$.get("http://" + addr + ":4567/start_liveview" );
      });
			$("#liveview_stop").click(function() {
				$.get("http://" + addr + ":4567/stop_liveview" );
      });
			$("#take_motion").click(function() {
				$.get("http://" + addr + ":4567/takemotion" );
      });
    </script>
  </body>
</html>
